$color-primary: #2ab2af;
$color-secondary: #c0df34;
$color-tertiary: #f9f7f5;

$color-white: #f8f8f8;
$color-black: #000;
$color-dark-gray: #3d3d3d;

$color-light-gray: #e5eff5;
$color-grayish-blue: #98a6bd;